<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>El Destino Feliz</title>
</head>
<body>
    <center>
    <h1>Agencia de Viajes "El Destino Feliz"</h1>
    <form action="./index" method="POST">
        <label for="num_boleto">Número de boleto:</label>
        <input type="text" id="num_boleto" name="num_boleto"/>
        <br/>
        <br/>
    
        <label for="destino">Destino:</label>
        <input type="text" id="destino" name="destino"/>
        <br/>
        <br/>
    
        <label for="nombre">Nombre del cliente:</label>
        <input type="text" id="nombre" name="nombre"/>
        <br/>
        <br/>
    
        <label for="edad">Edad:</label>
        <input type="number" id="edad" name="edad"/>
        <br>
        <br>
    
        <label for="tipo_viaje">Tipo de viaje:</label>
        <select id="tipo_viaje" name="tipo_viaje">
            <option value="1">Sencillo</option>
            <option value="2">Doble</option>
        </select>
        <br/>
        <br/>
    
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio"/>
        <br/>
        <br/>
    
        <button type="submit">Calcular</button>
        <button type="reset">Limpiar</button>
        <br/>
        <br/>
    </form>
    </center>
    <hr>
    <center>
        <h1>Resultado de la cotización</h1>
        <label for="subtotal">Subtotal:</label>
        <input type="number" id="subtotal" name="subtotal" value="<%=subtotal%>" readonly/>
    
        <label for="impuesto">Impuesto (16%):</label>
        <input type="number" id="impuesto" name="impuesto" value="<%=impuesto%>" readonly/>
    
        <label for="descuento">Descuento:</label>
        <input type="number" id="descuento" name="descuento" value="<%=descuento%>" readonly/>
    
        <label for="total">Total a pagar:</label>
        <input type="number" id="total" name="total" value="<%=total%>" readonly/>
    </center>
    <hr>

</body>
</html>